<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockly Code Generator</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/blockly@10.2.0/blockly.min.js"></script>
    <script src="/blocklyConfig/htmlToolbox.js"></script>
    <script src="/blocklyConfig/htmlBlocks.js"></script>
    <script src="/blocklyConfig/cssToolbox.js"></script>
    <script src="/blocklyConfig/cssBlocks.js"></script>
    <script src="/blocklyConfig/javaScriptToolbox.js"></script>
    <script src="/blocklyConfig/javaScriptBlocks.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/infoManager.js"></script>
</head>
<body>
    <div id="topbar">Blockly Code Generator</div>
    <div id="namebar" >HTML Generator</div>
    <div id="titlebar">
        <div class="titlecontent"><span>Blockly Workbench</span><button class="info-btn" data-popup="workbench">?</button></div>
        <div class="titlecontent"><span>Live Preview</span><button class="info-btn" data-popup="preview">?</button></div>
        <div class="titlecontent"><span>Source Code</span><button class="info-btn" data-popup="source">?</button></div>
    </div>
    <div id="navbar">
        <button class="nav-btn" id="htmlButton">HTML</button>
        <button class="nav-btn" id="cssButton">CSS</button>
        <button class="nav-btn" id="javaScriptButton">JavaScript</button>
        <button class="nav-btn-copy" id="copyButton">Copy Source Code</button>
    </div>
    <div id="main-container">
        <div class="section" id="blocklyWorkbench"></div>
        <iframe class="section" id="preview">Live Preview</iframe>
        <div class="section" id="sourceCode"></div>
    </div>
    <div id="copyPopup" style="display: none;">Copied</div>

    <div id="popup-workbench" class="popup" style="display: none;">In the Blockly workbench you can place blocks to generate code. You can also switch the language generated with the buttons on the left side of the page.</div>
    <div id="popup-preview" class="popup" style="display: none;">Here you can see what the document you are generated will look like. You can also interact with it. The field updates every time you make a change in the Blockly workspace.</div>
    <div id="popup-source" class="popup" style="display: none;">Here you can see what the source code of the document you are generating looks like. You can also copy the code using the "Copy Source Code" button. The field updates every time you make a change in the Blockly workspace.</div>
</html>